absl-py==2.2.1
accelerate==0.34.2
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
asyncer==0.0.8
attributedict==0.3.0
attrs==25.3.0
awq @ git+https://github.com/mit-han-lab/llm-awq.git@aacd3b8923b080d58734001b3e7842c8ca3e6967
bidict==0.23.1
bitsandbytes @ https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.41.1-py3-none-win_amd64.whl#sha256=adacda9b2b65dcb1931b222dffd7a91f0b611b3410d5b51c37ef7b22654106e6
blessings==1.7
blinker==1.9.0
CacheControl==0.14.2
cachelib==0.13.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
codecov==2.1.13
colorama==0.4.6
coloredlogs==15.0.1
colour-runner==0.1.1
contourpy==1.3.1
coverage==7.7.1
cryptography==44.0.1
cycler==0.12.1
DataProperty==1.1.0
datasets==3.5.0
deepdiff==8.4.2
Deprecated==1.2.18
diffusers==0.32.2
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
Django==5.1.2
docker==7.1.0
fastapi==0.115.12
ffmpy==0.5.0
filelock==3.16.1
firebase-admin==6.6.0
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Limiter==3.12
Flask-OAuthlib==0.9.6
Flask-Session==0.8.0
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.12.0
git-filter-repo==2.47.0
google-api-core==2.24.0
google-api-python-client==2.155.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-firestore==2.20.0
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gradio==3.35.2
gradio_client==0.2.9
greenlet==3.1.1
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.29.3
humanfriendly==10.0
idna==3.10
importlib_metadata==8.6.1
inspecta==0.1.3
intel-openmp==2021.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.9.0
joblib==1.4.2
jsonlines==4.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
limits==4.4.1
linkify-it-py==2.0.3
lm-eval==0.3.0
markdown-it-py==2.2.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mbstrdecoder==1.1.4
mdit-py-plugins==0.3.3
mdurl==0.1.2
mkl==2021.4.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.2.0
multiprocess==0.70.16
narwhals==1.32.0
networkx==3.4.2
nltk==3.9.1
numexpr==2.10.2
numpy==1.26.4
oauthlib==2.1.0
openai==1.69.0
ordered-set==4.1.0
orderly-set==5.3.0
orjson==3.10.16
packaging==24.2
pandas==2.2.3
pathvalidate==3.2.3
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
portalocker==3.1.1
propcache==0.3.1
proto-plus==1.25.0
protobuf==5.29.1
psutil==7.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyautogen==0.8.3
pybind11==2.13.6
pycountry==24.6.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.1
PyJWT==2.10.1
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyparsing==3.2.0
PyPDF2==3.0.1
pyproject-api==1.9.0
pyreadline3==3.5.4
pytablewriter==1.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.10.1
python-multipart==0.0.20
python-socketio==5.7.0
pytz==2025.2
pywin32==310
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
replicate==1.0.4
requests==2.32.3
requests-oauthlib==1.1.0
rich==13.9.4
rootpath==0.1.1
rouge_score==0.1.2
rpds-py==0.24.0
rsa==4.9
sacrebleu==1.5.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
semantic-version==2.10.0
sentencepiece==0.2.0
setuptools==77.0.3
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.36
sqlitedict==2.1.0
sqlparse==0.5.1
starlette==0.46.1
sympy==1.13.1
tabledata==1.3.4
tbb==2021.13.1
tcolorpy==0.1.7
tenacity==9.1.2
termcolor==2.5.0
texttable==1.7.0
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.20.3
toml==0.10.2
torch==2.3.0
torchvision==0.18.0
tox==4.25.0
tqdm==4.67.1
tqdm-multiprocess==0.0.11
transformers==4.46.0
typepy==1.3.4
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.34.0
virtualenv==20.27.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
